.dark-calendar {
  background-color: black;
  border: none;
  width: 100%;
  padding: 0.5rem;
}

.dark-calendar .react-calendar__navigation {
  margin-bottom: 0.5rem;
}

.dark-calendar .react-calendar__navigation button {
  color: white;
  min-width: 32px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.dark-calendar .react-calendar__navigation button:enabled:hover,
.dark-calendar .react-calendar__navigation button:enabled:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.dark-calendar .react-calendar__navigation button[disabled] {
  background-color: transparent;
}

.dark-calendar .react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  color: #666;
  border: 1px solid #333;
}

.dark-calendar .react-calendar__month-view__weekdays__weekday {
  padding: 0.5rem;
  color: #666;
  border: 1px solid #333;
}

.dark-calendar .react-calendar__month-view__days__day {
  color: white;
  padding: 0.5rem 0;
  border: 1px solid #333;
}

.dark-calendar .react-calendar__tile {
  padding: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  height: 80px;
  width: 80px;
  border: 1px solid #333;
  background: none;
  color: white;
  font-size: 0.775rem;
}

.dark-calendar .react-calendar__tile:enabled:hover,
.dark-calendar .react-calendar__tile:enabled:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.dark-calendar .react-calendar__tile--now {
  border-radius: 6px;
  font-weight: bold;
  color: blue !important;
}

.dark-calendar .react-calendar__tile--now:enabled:hover,
.dark-calendar .react-calendar__tile--now:enabled:focus {
  background: #1d4ed8;
}

.dark-calendar .react-calendar__tile--active {
  /* background: #2563eb; */
  border-radius: 6px;
  font-weight: bold;
  color: white;
}

/* .dark-calendar .react-calendar__tile--active:enabled:hover,
.dark-calendar .react-calendar__tile--active:enabled:focus {
  background: #1d4ed8;
} */

.dark-calendar .react-calendar__tile--neighbor {
  color: #666;
}

.dark-calendar .react-calendar__navigation__label {
  color: white;
  font-weight: 500;
}
